# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.out
*.app
.vs/LostTreasureEngine/v15/.suo
.vs/LostTreasureEngine/v15/Solution.VC.db-shm
.vs/LostTreasureEngine/v15/Solution.VC.db-wal
Debug/gtest.pdb
Debug/gtest_main.pdb
Debug/LostTreasureEngine.exe
Debug/LostTreasureEngine.ilk
Debug/LostTreasureEngine.pdb
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/CL.command.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/CL.read.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/CL.write.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/link.command.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/link.read.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/link.write.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/LostTreasureEngine.lastbuildstate
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/LostTreasureEngine.write.1u.tlog
LostTreasureEngine/Debug/tutorial2-397.log
LostTreasureEngine/Debug/vc141.idb
LostTreasureEngine/Debug/vc141.pdb
LostTreasureEngine/x64/Debug/LostTrea.15578C4B.tlog/CL.command.1.tlog
LostTreasureEngine/x64/Debug/LostTrea.15578C4B.tlog/CL.read.1.tlog
LostTreasureEngine/x64/Debug/LostTrea.15578C4B.tlog/CL.write.1.tlog
LostTreasureEngine/x64/Debug/LostTrea.15578C4B.tlog/LostTreasureEngine.lastbuildstate
LostTreasureEngine/x64/Debug/LostTrea.15578C4B.tlog/LostTreasureEngine.write.1u.tlog
LostTreasureEngine/x64/Debug/LostTrea.15578C4B.tlog/unsuccessfulbuild
LostTreasureEngine/x64/Debug/tutorial2-397.log
LostTreasureEngine/x64/Debug/vc141.idb
LostTreasureEngine/x64/Debug/vc141.pdb
Debug/LostTreasureEngine.exe
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/CL.command.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/CL.read.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/CL.write.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/link.command.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/link.read.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/link.write.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/LostTreasureEngine.lastbuildstate
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/LostTreasureEngine.write.1u.tlog
LostTreasureEngine/Debug/vc141.idb
Debug/LostTreasureEngine.exe
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/CL.command.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/CL.read.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/CL.write.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/link.command.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/link.read.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/link.write.1.tlog
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/LostTreasureEngine.lastbuildstate
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/LostTreasureEngine.write.1u.tlog
LostTreasureEngine/Debug/vc141.idb
LostTreasureEngine/Debug/LostTrea.15578C4B.tlog/Lib-link.write.1.tlog
